---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import FAQ2 from "@components/faq2.astro";
import Link from "@components/ui/link.astro";

// Get the base path from Astro config
const base = import.meta.env.BASE_URL;
---

<Layout title="Ações afirmativas">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Ações Afirmativas</Fragment>
      <Fragment slot="desc">
        <span class="text-justify">Mantendo a tradição e o pioneirismo da UERJ em ações afirmativas, 35% das vagas da <span class="text-secondary font-semibold">Escola de Inverno</span> são reservadas para pessoas negras (30%) e/ou com deficiência (5%). Para ampliar o acesso à <span class="text-secondary font-semibold">Escola</span>, as bolsas serão concedidas para apenas um curso por pessoa inscrita. Para pleitear inclusão no sistema de cotas, estudantes deverão preencher um formulário específico dentro da área de inscrição do evento. A seleção das inscrições habilitadas será feita pela organização da Escola de Inverno. As vagas serão concedidas por ordem de inscrição.<br>
        <br>
        Com o objetivo de tornar ainda mais efetivas as ações afirmativas, solicitamos que candidatas e candidatos contemplados com bolsas informem à organização da <span class="text-secondary font-semibold">Escola</span>, o mais rapidamente possível, caso não possam comparecer aos cursos. Dessa forma, poderemos alocar as bolsas para outras pessoas. Como forma de promover a maior inclusão de pessoas possível, em casos de ausência não seja justificada as bolsistas (os) não poderão concorrer às vagas reservadas no sistema de cotas na edição seguinte da <span class="text-secondary font-semibold">Escola de Inverno</span>.</span>

        Para concorrer a uma bolsa, acesse o formulário de inscrição clicando no botão abaixo. 

      </Fragment>
    </Sectionhead>
    <div class="mt-14 flex flex-col sm:flex-row gap-3 justify-center lg:justify-center">
        <Link
          href={`${base}formulario-bolsa`}
          class="flex gap-1 rounded-sm border-primary hover:border-secondary"
          rel="noopener">
            Ir para a área de inscrição
        </Link>
      </div>
    <FAQ2 />
  </Container>
</Layout>
