---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import FAQ from "@components/faq.astro";

const pricing = [
  {
    name: "Workshop",
    price: "R$ 360,00",
    monthly: "R$ 180,00", 
    desconto: "R$ 288,00",
    popular: false,
    features: [
      "2 dias de evento",
      "3h de conteúdo por dia",
      "Carga horária total de 6h",
      "Ementa exclusiva",
      "Certificados de participação",
    ],
    button: {
      text: "Inscreva-se",
      link: "https://scientia-e.com/sistema/novosis/iesp/2025/",
    },
  },
  {
    name: "Curso intensivo",
    price: "R$ 520,00",
    monthly: "R$ 260,00",
    desconto: "R$ 416,00",
    popular: false,
    features: [
      "4 dias de evento",
      "3h de conteúdo por dia",
      "Carga horária total de 12h",
      "Ementa exclusiva",
      "Certificados de participação",
    ],
    button: {
      text: "Inscreva-se",
      link: "https://scientia-e.com/sistema/novosis/iesp/2025/",
    },
  },
  
 
];
---

<Layout title="Valores">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Investimento</Fragment>
      <Fragment slot="desc">
        Oferecemos cursos remotos e abertos a estudantes do IESP-UERJ e público em geral com ensino superior completo em qualquer área do conhecimento. O número de vagas, no entanto, é limitado a 25 vagas por turma (exceto bolsas). As inscrições vão até o dia 27 de junho.<br/><br/>Estudantes da UERJ têm <span class="text-secondary font-semibold">desconto de 50%</span> em todos os cursos. Pessoas que se inscreverem em três ou mais cursos terão <span class="text-secondary font-semibold">30% de desconto</span> no valor total da inscrição. Dúvidas mais comuns sobre pagamentos são respondidas abaixo.
      </Fragment>
    </Sectionhead>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-14 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
    
    <FAQ />
    
  </Container>
</Layout>
