---
import { Picture } from "astro:assets";
---

<section id="sobre" class="container w-5/6 md:w-4/5 mx-auto py-20">
  <h2 class="text-4xl lg:text-5xl text-primary font-bold lg:tracking-tight sm:mb-8 mx-auto">Nossa história</h2>
  <div class="flex flex-col lg:flex-row-reverse">
    <div class="inset-0 lg:w-1/2 pl-4 mb-8 lg:mb-0 rounded-lg overflow-hidden my-4 drop-shadow-xl">
    <Picture
      src="https://espec.iesp.uerj.br/wp-content/uploads/2017/10/fachada.jpg"
      alt="Fachada do IESP-UERJ"
      class="mx-auto rounded-xl drop-shadow-xl"
      widths={[200, 600]}
      height={380}
      width={550}
      sizes="(max-width: 600px) 100vw, 550px"
      loading="eager"
      format="avif"
    />
    </div>
    <div class="lg:w-1/2 my-auto">
      <p class="text-2xl font-light text-[#333333] my-0">A <span class="font-bold text-secondary">Escola de Inverno</span> é realizada pelo <a class="text-[#9e7a22]" href="https://iesp.uerj.br/" target="_blank">Instituto de Estudos Sociais e Políticos (IESP)</a> da UERJ, um centro de excelência em pesquisa e ensino de pós-graduação em Ciência Política e Sociologia, sucessor do antigo IUPERJ e reconhecido em toda a América Latina. O <a class="text-[#9e7a22]" href="https://iesp.uerj.br/" target="_blank">IESP-UERJ</a> foi pioneiro no Brasil ao oferecer, em 1969, o primeiro mestrado em Ciência Política e, desde então, formou gerações de cientistas sociais que atuam em universidades, instituições governamentais e privadas no Brasil e no exterior.</p>
    </div>
  </div>
</section>


<section id="sobre2" class="container w-5/6 md:w-4/5 mx-auto py-20">
    <div class="flex flex-col lg:flex-row">
      <div class="inset-0 lg:w-1/2 h-[420px] mb-8 lg:mb-0 rounded-xl overflow-hidden my-0 drop-shadow-lg">
      <Picture
        src="https://iesp.uerj.br/wp-content/uploads/2023/09/151-_MG_1447-683x1024.jpg"
        alt="Pátio do IESP-UERJ"
        class="mx-auto rounded-xl overflow-hidden drop-shadow-lg"
        widths={[200, 400]}
        height={400}
        width={400}
        sizes="(max-width: 400) 100vw, 400px"
        loading="eager"
        format="avif"
      />
      </div>
      <div class="lg:w-1/2 my-0 text-left">
        <p class="text-2xl mt-4 font-light text-[#333333]">Neste ano, <span class="font-bold text-secondary">Escola de Inverno</span> chega à sua nona edição. Voltada inicialmente para o ensino de técnicas quantitativas e qualitativas, atualmente a <span class="font-bold text-secondary">Escola</span>  também oferta treinamento em temas substantivos nos quais o <a class="text-[#9e7a22]" href="https://iesp.uerj.br/" target="_blank">IESP-UERJ</a> é referência. Desde 2022, também ampliamos a oferta de cursos e de vagas disponíveis, o que nos permitiu, na última edição, atrair alunos e alunas de diferentes instituições e especialidades. </p>
      </div>
    </div>
  </section>