---
import Link from "./ui/link.astro";
---

<div
  class="bg-primary p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white2 text-4xl md:text-6xl tracking-tight mb-6">
    Garanta já a sua vaga!
  </h2>
  <p class="text-gray2 mt-4 text-lg md:text-xl w-4/5">
    A 10º Edição da Escola de Inverno do IESP-UERJ está com inscrições abertas apenas até dia 27 de junho. São apenas 25 vagas para ampla inscrição para cada curso e não haverá prorrogações!
  </p>
  <div class="flex text-primary font-bold mt-14 gap-1 items-center justify-center rounded-md bg-white2">
    <Link href="/formulario">Inscreva-se já!</Link>
  </div>
</div>
