---
const faqs = [
    {
    question: "Quero me inscrever em mais de um curso, tenho desconto?",
    answer: "Não, estudantes que se inscreverem em três cursos diferentes, sejam workshops ou cursos intensivos, terão 20% de desconto no valor total das inscrições. Esse desconto vale também para estudantes da UERJ, que já pagam 50% do valor de cada curso/workshop individualmente.",
    },
    {
    question: "Sou professor(a) ou funcionário(a) da UERJ, tenho desconto em um curso?",
    answer: "Não, descontos de 50% aplicam-se apenas para estudantes com matrícula ativa na UERJ. Caso se inscreva em três cursos, entretanto, há 20% de desconto no valor total das inscrições.",
  },
  {
    question: "Quais são as formas de pagamento?",
    answer: "Recebemos apenas pagamenos via Pix.",
  },
  {
    question: "É possível parcelar o pagamento?",
    answer: "Não, aceitamos apenas pagamentos a vista por depósitos Pix.",
  },
  {
    question: "Realizei o pagamento, mas ainda não recebi uma confirmação de vaga. O que fazer?",
    answer: "No momento da submissão da sua inscrição, você receber um e-mail confirmando o recebimento das informações. Assim que processarmos todas as inscrições e bolsas de ações afirmativas, enviaremos ementas e detalhes de acesso a todas as pessoas inscritas. ",
  },
  {
    question: "Quais são os critérios de seleção para os cursos?",
    answer: "Para estudantes pagantes, vagas serão reservadas por ordem de inscrição. Para bolsas de ação afirmativa, critérios de vulnerabilidade socioeconômica e desempenho acadêmico serão considerados caso hajam mais inscrições do que vagas disponíveis. Note também que alguns cursos podem ter pré-requisitos específicos, informados na página de cada curte.",
  },
  {
    question: "Quero concorrer a uma bolsa de ação afirmativa, como faço?",
    answer: "Para isso, é necessário preencher o formulário correspondente e anexar documentos solicitados. Cada pessoa só pode pleitear bolsa de ação afirmativa para um único curso.",
  },
  {
    question: "Minha dúvida não está respondida aqui, o que faço?",
    answer: "Em caso de dúvidas ou problemas, entre em contato conosco pelo e-mail inverno@iesp.uerj.br ou pelo telefone (21) 2334-0629 e te ajudaremos da melhor forma possível."
  },
];
---

<section  class="container content-center w-4/5 md:w-3/4 mx-auto">
<h2 class="text-center text-4xl lg:text-5xl text-primary font-bold lg:tracking-tight mt-24">Dúvidas comuns</h2>
<div class="mt-10 mx-auto grid md:grid-cols-2 gap-14">
  {faqs.map((faq) => (
    <div>
      <h3 class="text-xl font-bold text-primary">{faq.question}</h3>
      <p class="mt-2 text-[#333333] text-lg font-light">{faq.answer}</p>
    </div>
  ))}
</div>
</section>