---
const faqs = [
    {
    question: "Quero me inscrever em mais de um curso, tenho desconto?",
    answer: "Estudantes que se inscreverem em três cursos ou mais, sejam eles workshops ou cursos intensivos, terão 30% de desconto no valor total das inscrições. Esse desconto vale também para estudantes da UERJ, que já pagam 50% do valor de cada curso/workshop individualmente.",
    },
    {
    question: "Sou professor(a) ou funcionário(a) da UERJ, tenho desconto em um curso?",
    answer: "Não, descontos de 50% aplicam-se apenas para estudantes com matrícula ativa na UERJ. Caso se inscreva em três cursos, entretanto, há 20% de desconto no valor total das inscrições.",
  },
  {
    question: "Quais são as formas de pagamento?",
    answer: "Recebemos pagamenos via Pix, boleto e cartões (estes dois últimos, via Pagseguro). Pagamentos deverão ser feitos até o dia 27 de junho, data limite para inscrições. Informações sobre pagamentos estão disponíveis na área de inscrição.",
  },
  {
    question: "É possível parcelar o pagamento?",
    answer: "Usando cartões de crédito, é possível pagamentos parcelados.",
  },
  {
    question: "Como faço para comprovar meu pagamento?",
    answer: " No área de inscrição, há um campo para anexar o comprovante de pagamento. Para concluir a reserva da vaga, o número de CPF no comprovante anexo precisa ser o da pessoa inscrita. Assim que o seu comprovante for verificado, você poderá verificar o status da sua inscrição na área do inscrito no website do evento.",
  },
  {
    question: "Realizei o pagamento usando uma conta institucional, como comprovar o pagamento?",
    answer: "Caso sua inscrição seja paga por empreegador ou instituição, anexe seu comprovante de pagamento no formulário de inscrição e entre em contato conosco por e-mail.",
  },

  {
    question: "Realizei o pagamento, mas ainda não recebi uma confirmação da vaga. O que fazer?",
    answer: "Basta aguardar. Os pagamentos são processados pela equipe do evento. É possível verificar o status da sua inscrição na área do inscrito no website do evento.",
  },
  {
    question: "Quais são os critérios de seleção para os cursos?",
    answer: "Para estudantes pagantes, vagas serão reservadas por ordem de inscrição. Para bolsas de ação afirmativa, vagas serão destinadas por ordem de inscrição até o limite de bolsas previstas para cada curso. Note também que alguns cursos podem ter pré-requisitos específicos, informados na página de cada curso.",
  },
  {
    question: "Quero concorrer a uma bolsa de ação afirmativa, como faço?",
    answer: "Para isso, é necessário preencher o formulário correspondente e anexá-lo com assinatura eletrônica no local indicado na área de inscrição do evento. Cada pessoa só pode pleitear bolsa de ação afirmativa para um único curso.",
  },
  {
    question: "Minha dúvida não está respondida aqui, o que faço?",
    answer: "Em caso de dúvidas ou problemas, entre em contato conosco pelos e-mails e spg@iesp.uerj.br ou pelo telefone (21) 2334-0629 e te ajudaremos da melhor forma possível."
  },
];
---

<section  class="container content-center w-4/5 md:w-3/4 mx-auto">
<h2 class="text-center text-4xl lg:text-5xl text-primary font-bold lg:tracking-tight mt-24">Dúvidas comuns</h2>
<div class="mt-10 mx-auto grid md:grid-cols-2 gap-14">
  {faqs.map((faq) => (
    <div>
      <h3 class="text-xl font-bold text-primary">{faq.question}</h3>
      <p class="mt-2 text-[#333333] text-lg font-light">{faq.answer}</p>
    </div>
  ))}
</div>
</section>