<footer class="my-20">
    <p class="text-center text-sm text-[#444444]">
       Copyright © {new Date().getFullYear()} <a href="https://iesp.uerj.br/" class="text-[#444444] underline">
        IESP-UERJ</a> e <a href="https://mape.org.br/" class="text-[#444444] underline">
        MAPE</a>
    </p>
</footer>
