---
---

<div class="container content-center mt-16 text-center mx-auto w-4/5 md:w-3/4">
    <h1 class="text-4xl text-primary lg:text-5xl font-bold lg:tracking-tight mb-6">
        <slot name="title">Escola de Inverno IESP-UERJ</slot>
    </h1>
    <p class="text-xl mt-4 font-light text-[#333333]">
        <slot name="desc">Escola de métodos e técnicas de pesquisa social</slot>
    </p>
</div>
